:root {
	--fontOpenSans: "Open Sans";
    --fontMont: "Montserrat";
    --fw-regular: 400;
    --fw-bold: 600;
    --dflt-clr: #2E3238;
    --bg-clr: #FFF; 
    --primary-clr:#0078CF;
    --accent-clr: #99D5FF;
    --lite-accent-clr:#E5F4FF;
    --important-marker-clr: #B21F00;
    --dsbl-color: #ABB1BA;
	--icon-dflt-clr: #000;
	--icon-dsbl-clr: #ABB1BA;
	--icon-accent-clr: #005999;
	--border: #D5D8DD;
	--input-bg-clr:#fcfcfd;
}
